button{
  border: none;
  padding: 16px 19px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;

  .text{
    margin: 0;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .svg-inline--fa{
    margin: 0;
  }
}